.item-card {
  background-color: rgb(255, 255, 255);
  width: 310px;
  height: 390px;
  border-radius: 10px;
}
.item-img {
}
.item-name-pric {
}
.item-desc {
}
.item-change {
}
.item-minus {
}
.item-amount {
}
.item-plus {
}
