<div class="item-card">
  <img class="item-img" src="{{ item.img }}" />
  <div class="item-name-price">
    <p class="item-name">{{ item.name }}</p>
    <p class="item-price">{{ item.price }} KWD</p>
  </div>
  <div class="item-desc">{{ item.desc }}</div>
  <div class="item-change">
    <div class="item-minus" (click)="decrementItem()">-</div>
    <div class="item-amount">{{ itemamount }}</div>
    <div class="item-plus" (click)="incrementItem()">+</div>
  </div>
  <div class="item-add-to-cart" (click)="addItemToCart()">Add to cart</div>
</div>
