body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(234, 234, 234);
  height: 665px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.containernav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: rgb(255, 255, 255);
}

.logo {
  width: 100px;
  height: 100px;
  margin-left: 15px;
  cursor: pointer;
}

.cartbtn {
  background-color: #ff8e72;
  border-radius: 25px;
  border: 0px;
  width: 130px;
  height: 40px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 20px;
}

.inputf {
  width: 400px;
  height: 40px;
  border-radius: 20px;
  margin-top: 20px;
  border: 0px;
  background-color: rgb(232, 232, 232);
}
.minicontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 600px;
  height: 500px;
  flex-direction: column;
}
